[submodule "BMUtilityPack"]
	path = BMUtilityPack
	url = https://github.com/jeffreycamealy/BMUtilityPack.git
[submodule "objc-categories"]
	path = objc-categories
	url = https://github.com/mobitar/objc-categories.git
